In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/abhis/Desktop/DSA Dataset/Sales_add.csv")
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

Define Ho=Average sales before digital marketing= Average sales after digital marketing and H1=Average sales before digital marketing is not equal to the Average sales after digital marketing

In [12]:
from scipy.stats import ttest_rel
a=data['Sales_before_digital_add(in $)']
b=data['Sales_After_digital_add(in $)']
ttest_rel(a, b)

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)

We obtained a p value less than 0.05 so we reject Ho ie there is difference in average sales before and after digital marketing

Ho=true difference in means is = 0 ,H1=true difference in means is greater than 0

In [14]:
from scipy.stats import ttest_rel
a=data['Sales_before_digital_add(in $)']
b=data['Sales_After_digital_add(in $)']
ttest_rel(b,a,alternative="greater")

Ttest_relResult(statistic=12.09070525287017, pvalue=3.168333502287889e-11)

p value less than 0.05 so accept H1,which means means difference between b and a is greather than 0.which implies Average sales before digital marketing is less than average sales after digital marketing

# Chi-square test for independence

 The company needs to check whether there is any dependency between the features “Region” and “Manager”.
 Ho=There is no relationship between Manager and region,H1=There is relationship between Manager and region

In [8]:
c=data['Region']
d=data['Manager']
crosstable=pd.crosstab(c,d)
crosstable

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [10]:
from scipy.stats import chi2_contingency

In [11]:
chiVal,pVal,df,exp=chi2_contingency(crosstable)
chiVal,pVal,df,exp

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

Here p value greater than 0.05 so accept Ho that is there is no relationship between Manager and region