In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("C:/Users/abhis/Desktop/DSA Dataset/Sales_data_zone_wise.csv")

In [4]:
data.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

# Mean sales in each Zone

In [5]:
mean=data.mean(axis=0)
round(mean,2)

Zone - A    1540493.14
Zone - B    1755559.59
Zone - C    1772871.03
Zone - D    1842926.76
dtype: float64

# Mean sales in each month

In [6]:
mean=data.mean(axis=1)
round(mean,2)

0     1755636.00
1     1788075.75
2     1618984.75
3     2043612.25
4     1498832.00
5     1787846.75
6     1821777.00
7     1954074.75
8     1675848.75
9     1782052.50
10    1758195.75
11    1527771.00
12    1481356.00
13    1788878.75
14    1483539.00
15    1626664.75
16    1787345.75
17    1770872.50
18    1742988.25
19    1781149.75
20    1847399.25
21    1890000.25
22    1671979.75
23    1946186.75
24    1523979.50
25    1628090.00
26    1566979.50
27    1867730.00
28    1693069.25
dtype: float64

# ANOVA

Consider H0:Mean sales in each zones are same,H1:Atleast one of the zones mean is different

In [7]:
import scipy.stats as stats

In [8]:
data.columns

Index(['Month', 'Zone - A', 'Zone - B', 'Zone - C', 'Zone - D'], dtype='object')

In [9]:
fvalue,pvalue=stats.f_oneway(data['Zone - A'],data['Zone - B'],data['Zone - C'],data['Zone - D'])

In [11]:
fvalue,pvalue

(5.672056106843581, 0.0011827601694503335)

P value is lessthan 0.05 so we reject the nullhypothesis that the mean sales in each zones are same.Ie mean sales in each zones are different.